{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2 class="card-title">Decision Tree Genrator Using Gini Index</h2>
  <h4 class="card-title"> What Is Decision Tree</h4>
  <ul>
    <li>
      Decision tree algorithm falls under the category of supervised learning. They can be used to solve both regression and classification problems.
    </li>
    <li>
      Decision tree uses the tree representation to solve the problem in which each leaf node corresponds to a class label and attributes are represented on the internal node of the tree.
    </li>
    <li>
      We can represent any boolean function on discrete attributes using the decision tree.
    </li>
  </ul>

  <div class="container" style="text-align:center;">
      <img src="{% static 'decision-tree.png' %}" />
  </div>
  <p class="card-text">
    
  </p>
  <p class="card-text">
  
  </p>
{% endblock %}
